{% extends 'base.html.twig' %}

{% block title %}Would You Rather ?{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="display-4">Would You Rather ?</h1>
        <p>Parce qu'on a tous déjà joué à "Tu préfères" !</p>
        <hr>
        <div>
            <a href="{{ path('app_login') }}" class="btn">Connexion</a>
            <a href="{{ path('app_register') }}" class="btn">Inscription</a>
        </div>
    </div>
</div>
{% endblock %}
